body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    box-shadow: 3Opx 0px 40px rgb(196, 196, 196),-30px 0px 40px rgb(196, 196, 196);
    margin: auto;
    max-width: 900px;
}

header{
    height: 160px;
    padding-top: 10px;
    color: white;
    background-color: #333;
}

.photo{
    margin-left: 7%;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
}

.des{
    margin-left: 25%;
    margin-top: -10%;
}
h3{
    color: #7d13c3;
    font-weight: bold;
    letter-spacing: 1rem;
    font-size: 20px;
}

.post{
    color: rgb(248, 32, 230);
    font-weight: bold;
    letter-spacing: .1rem;
}


h4{
    margin-left: 10%;
    color: #e615a7;
    letter-spacing: .1rem;
    font-size: 18px;
}

