body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-image:url(../IMG/fond-ecran.jpg);no reapeat center center/cover;
}

.contenu{
    width: 100%;
}

.menu{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    place-items: center;
    color: white;
    padding: 30px 0;
}

.menu a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.menu div{
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius:15px ;
    -moz-border-radius:15px ;
    -ms-border-radius: 15px;
    -o-border-radius:15px;
}

.menu div:hover{
    background-color: red;
}

.corps{
    padding: 0 100px;
}

.titre{
    text-align: center;
    color: orangered;
    margin: 40px 0 ;
}

.presentation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 30px 0;
    border-bottom: 20px solid red;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}

.image{
    display: grid;
    place-items: center;
    width: 300px;
    border-radius: 50%;
}

.image img{
    width: 300px;
    border: 3px solid black;
    border-radius: 15px;
}

.propos{
    text-align: left;
}

.propos h2{
    font-size: 35px;
    color: blue;
}

.propos table td{
    font-size: 20px;
    padding: 15px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.propos tr td:nth-child(3){
    padding-left: 50px;
}

.competence{
     width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 0;
    border-bottom: 20px solid rgb(130, 198, 238);
}

.competence .text{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.etude{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 0;
    border-bottom: 20px solid rgb(130, 238, 153);
}

.etude blockquote{
    border-left: 5px solid white;
    height: 50px;
    display: grid;
    align-items: center;
    padding-left:10px ;
    color: black;
}

.loisir{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 0;
    border-bottom: 20px solid rgb(238, 236, 130);
}

.loisir .text{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loisir .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.loisir .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 10px 20px;
    border: 1.5px solid azure;
    border-radius: 5px;
    margin: 10px;
    gap: 10px;
}

.loisir .cells .cell img{
    width: 50px;
    height: 50px ;
    object-fit: contain;
    border-radius: 2px;
}

.loisir .cells .cell span{
    font-size: 18px;
}

.contacts{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 0;
    border-bottom: 20px solid rgb(238, 130, 148);
}

.contacts table{
    padding: 0;
}

.contacts table td{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contacts td{
    padding: 15px 0;
}

.contacts tr td:nth-child(3){
    padding-left: 50px;
}
