.{
    margin: 0;
    padding: 0;
}

body{
    background: url(https://i.pinimg.com/736x/83/fe/27/83fe27b2bb9184396fa46153d73d583d.jpg)no-reapeat center center/cover;
}

.header h1{
    justify-content: center;
    text-align: center;
}

.header p{
    text-align: center;
}

.header .link a{
    display:list-item ;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 10px;
    transition: 1s;
}